.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.gradient-button:hover {
    background-position: right center;
}
.right-nav{
    margin: 0 0 0 auto;
}
ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav li {
    float: left;
}
ul.nav a {
    display: block;
    width: 5em;
    padding:10px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
}

