@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.ft60 {
font-size: 60px !important;
  }
.clr-blue{color:blue;}
.clr-prl{color:purple;}
.bg-bl.clr-prl{color:purple;}

.bg-blue{
background-color: #1b95e0 !important;
  color:#fffff;
}

i{
   color:#fffff !important;
}